default: &default
  adapter: postgresql
  pool: 5
  timeout: 5000

development:
  <<: *default
  database: maxwell_interview_development

test:
  <<: *default
  database: maxwell_interview_test

production:
  <<: *default
  database: maxwell_interview_production
